<h2>IBAN checker</h2>
<hr class="mb-3">
<div *ngIf="!ibans">
  <input type="checkbox" [(ngModel)]="type" class="mb-3"> Check multiple IBANs
  <div *ngIf="!type">
    <h5>Insert IBAN you want to check</h5>
    <form [formGroup]="ibanForm" (ngSubmit)="checkIban()">
      <div class="form-group">
          <input type="text" formControlName="iban" class="form-control" [ngClass]="{ 'is-invalid': submitted && fIban.iban.errors }" placeholder="For example: LT647044001231465456"/>
          <div *ngIf="submitted && fIban.iban.errors" class="invalid-feedback">
              <div *ngIf="fIban.iban.errors.required">IBAN is required</div>
              <div *ngIf="fIban.iban.errors.maxlength">IBAN should not exceed 20 characters</div>
          </div>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-success">CHECK IBAN</button>
      </div>
    </form>
  </div>
  <div *ngIf="type">
    <h5>Insert list of IBANs separated by ':'</h5>
    <form [formGroup]="ibansForm" (ngSubmit)="checkIbans()">
      <div class="form-group">
          <textarea type="text" formControlName="ibans" class="form-control" [ngClass]="{ 'is-invalid': submitted && fIbans.ibans.errors }" placeholder="For example: AA051245445454552117989:LT647044001231465456:LT517044077788877777"></textarea>
          <div *ngIf="submitted && fIbans.ibans.errors" class="invalid-feedback">
              <div *ngIf="fIbans.ibans.errors.required">IBANS is required</div>
          </div>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-success">CHECK IBANS</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="ibans">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="bg-success text-white">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-success" *ngFor="let iban of ibans">
          <td scope="row">{{iban.iban}}</td>
          <td scope="row">{{iban.isValid}}</td>
          <td scope="row">{{iban.bank}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-success" (click)="clear()">CLEAR</button>
  </div>  
</div>